<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>시퀄라이즈 서버</title>
    <style>
      table { border: 1px solid black; border-collapse: collapse; }
      table th, table td { border: 1px solid black; }
    </style>
</head>
<body>
  <div>
    <form id="user-form">
      <fieldset>
        <legend>사용자 등록</legend>
        <div><input id="username" type="text" placeholder="이름"></div>
        <div><input id="age" type="number" placeholder="나이"></div>
        <div><input id="married" type="checkbox"><label for="married">결혼 여부</label></div>
        <button type="submit">등록</button>
      </fieldset>
    </form>
  </div>
</body>
</html>